@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

header{
    background-color: #404041;
    width: 100%;
    z-index: 999;
    justify-content: space-between;
    display: flex;
    padding: 10px 200px;
    align-items: center;
    position: fixed;
}
.logo{
    text-decoration: none;
    font-size: 1.8em;
    text-transform: uppercase;
    color: #d40000fd;
    font-weight: 700;
    margin-left: -100px;
    font-family: cursive;
}
.logo span{
    color:#ffffff;
    font-family:cursive; ;
}

.navigation,a {
    text-decoration: none;
    justify-content: space-between;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding-right: 50px;
    font-weight: 600;
    transition: 0.3s ease;
}

.navigation a:hover{
    color: #ff0000;
    font-size: large;
    font-weight: 600;
    
}


.s1{
    width: 100%;
    min-height:100vh;
    display: flex;
    align-items: center;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    padding-left: 100px;
}
.video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio: 16/9 ){
    .video{
        width: 100%;
        height: auto;
    }
}
    @media (maw-aspect-ratio: 16/9 ){
        .video{
            width: auto;
            height: 100%;
        }
    
}
.s1 h2 {
    color: aliceblue;
    font-size: 1.8em;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 450px;
}
.s1 h2 span{
    color:#db0049;
    font-size: 2em;
    font-weight: 600;
    margin-left: -150px;
}
.s1 h3{
    color:#a8ebff;
    font-size:2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 200px;
}
.s1-btn{
    text-decoration: none;
    color: beige;
    background-color: #db1212;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius:15px ;
    margin-bottom: 40px;
    transition: 0.5s ease;
    margin-left: 500px;
    
}
.s1-btn:hover{
    background-color:transparent ;
    transform: scale(1.1);
    border: 2px solid #db0101;
  

}
.sociel-icons a{
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px; 

    
}
.sociel-icons a:hover{
    color: rgb(255, 0, 0);
    font-size: 1.5em;
}
.s2{
    padding-left: 100px;
    background: linear-gradient(rgb(0, 0, 0),rgb(247, 110, 110));
}
.titel{
    display: flex;
    justify-content: center;
    color: #f51238;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
    padding-top: 90px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card-s2{
    background-color: #fff;
    width: 50.25em;
    box-shadow: 0 5px 20px rgba(1,1, 1, 50%);
    border-radius:10px ; 
    padding:25px ;
    margin: 50px;
    
}
.content :hover{
    transition: 0.7s ease;
    transform: scale(1.1);

}
.icon-s2 {
    color: #a70000;
    font-size: 8em;
    text-align: center;
}
.info-s2{
    text-align: center;
}

.info-s2 p {
    color: #000000;
    font-size:1em;
    font-weight: 700;
    margin: 30px;
    text-align: center;
   
}
.s3{
    padding-left: 50px;
    background-color: #575757;
}
.card-s3{
    background-color: #F9CADD;
    width: 21.25em;
    box-shadow: 0 5px 20px rgba(1,1, 1, 50%);
    margin: 50px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}


.icon-s3{
    font-size: 8em;
    color: #790000;
}
.info-s3{
    color: #000;
    font-size: 1em;
    font-weight: 700;
    margin-left: 10px;
}

.skii{
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
    color: #00c583;
}
.s4{
    width: 100%;
    padding-left: 100px;
    background-color: #ffffff;
}
.card-s4{
    background-color: #8b8387;
    width: 25.25em;
    box-shadow: 0 5px 20px rgba(1,1, 1, 50%);
    margin: 50px;
    padding: 25px;
    border-radius: 15px;
    text-align: center;
}


.whatsapp{
    font-size: 6em;
    color: #019b01;
}
.email{
    font-size: 6em;
    color: #db0101;
}
.info-s4{
    color: #000;
    font-size: 1.2em;
    font-weight: 700;
    margin-left: 10px;
    text-align: center;
    margin-left: 50px;
}
footer{
    background-color: #404041;
    justify-content: space-between;
    color: #fff;
    display: flex;
    padding: 20px;
}
.footer-name{
    width: 700;
    color: rgb(199, 156, 119);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
}
.sociel-icons-footer{
    color: #fff;
    font-size: 1.4em;
    padding-right: 30px;
    padding:0 12px 0 0 ;
}
.sociel-icons-footer :hover{
    color: #fa4750;
    font-size:larger;
}

 

@media(max-width:1023px) {
    header{
        padding: 12px 50px;
    }
    .logo{
        font-size: 2.2em;

    }
    .navigation,a{
        padding-right: 15px;
        padding-left: 10px;
        font-size: 1.3em;
    }
    .titel{
        font-size: 3em;
    }
    section{
        padding: 80px 20px;
    }
    .s1 h2{
        font-size: 3.5em;
    }
    .s1 h3{
        font-size: 5em;

    }
    content{
        flex-direction: column;
        align-items: center;
        
    }
    .s1-btn{ 
        font-size: 2.1em;
    }
    .sociel-icons a {
        font-size: 2.1em;
    }
    .name-footer{
        font-size: 2.6em;
    }
}